# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Virtualenv
.local/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
*.bak

# Logs
*.log

# Other backups
*.swp
*.swo
*.orig

# Custom settings
.idea/
*.iml


message.txt

*.json

*.csv